@model IEnumerable<WildCrest.Models.WildCrestModels.RoomBooking>
<style>
    .pay_meth label span {
    padding-left: 15px;
}
    .d-align-center label {
    padding-top: 8px;
}
    .pay_meth {
    margin-bottom: 10px;
}
    @@media(max-width:992px) and (min-width:768px) {
        .md_mb_10 {
            margin-bottom:10px;
        }

    }
     @@media(max-width:1300px) and (min-width:768px) {
            .d-align-center {
    padding-right: 0px;
}

    }
  
</style>
<body class="fix-header card-no-border">

    <div id="main-wrapper">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Room Bill</h4>
                        <div class="form p-t-20">
                            <div>
                                <label id="showBillNo" style="font-size: large; display: none; font-weight: 500;">Bill Number : <span id="Bill_Number">@ViewBag.BillNumber</span> <span id="amtPaidOrNot" style="color: red; font-style: italic;"></span></label>
                            </div>
                            <div class="form-group">
                                <label style="font-size: large;">Check-in Date:</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                    <input id="checkIn" readonly placeholder="Check-in" class="form-control pressenter" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label style="font-size: large;">User :</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-user" style="width: 20px; font-size: initial"></i></div>
                                    <select id="RNo" class="form-control" onchange="CustomerRoomDetails();">

                                        @if (Model.Count() > 0)
                                        {
                                            foreach (var i in Model)
                                            {
                                            <option value="@i.Booking_ID">@i.Customer</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="0">No data Available.</option>   
                                        }

                                    </select>
                                </div>
                            </div>
                            <div id="CustomerDetails" style="margin-top: 5px;">
                                <div class="form-group">
                                    <label style="font-size: large;">Room(s) Alloted :</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-user" style="width: 20px; font-size: initial"></i></div>
                                        <input type="text" id="RoomNo" class="form-control" readonly />
                                    </div>
                                </div>

                                <div>
                                    <label style="font-size: large;"><b>Amount :  ₹ <span id="amount"></span></b></label>
                                </div>
                                <div class="form-group">
                                    <label style="font-size: large;">Advanced Payment :</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-user" style="width: 20px; font-size: initial"></i></div>
                                        <input type="text" id="advancedPayment" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="font-size: large;">Discount :</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-user" style="width: 20px; font-size: initial"></i></div>
                                        <input type="text" id="discount" class="form-control" value="0" />
                                    </div>
                                </div>
                                <div class="pay_meth">
                                    <label style="font-size: large;"><b>Amount to be Paid :  ₹ <span id="amtAfterAdvanced"></span></b></label>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 md_mb_10">
                                        <div class="row">
                                            <div class="col-md-5 d-align-center d-flex">
                                                <label><input type="checkbox" id="iscash"> <span>Cash</span></label>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="fa fa-inr" aria-hidden="true" style="font-size: initial"></i></div>
                                                    <input type="text" class="form-control" id="amtCash" disabled="disabled">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 md_mb_10">
                                        <div class="row">
                                            <div class="col-md-5 d-align-center d-flex">
                                                <label><input type="checkbox" id="ispaytm"> <span>Paytm</span></label>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="fa fa-inr" aria-hidden="true" style="font-size: initial"></i></div>
                                                    <input type="text" class="form-control" id="amtPaytm" disabled="disabled">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 md_mb_10">
                                        <div class="row">
                                            <div class="col-md-5 d-align-center d-flex">
                                                <label><input type="checkbox" id="iscard"> <span>Card</span></label>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="fa fa-inr" aria-hidden="true" style="font-size: initial"></i></div>
                                                    <input type="text" class="form-control" id="amtCard" disabled="disabled">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 md_mb_10">
                                        <div class="row">
                                            <div class="col-md-5 d-align-center d-flex">
                                                <label><input type="checkbox" id="ischeque"> <span>Cheque</span></label>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="fa fa-inr" aria-hidden="true" style="font-size: initial"></i></div>
                                                    <input type="text" class="form-control" id="amtCheque" disabled="disabled">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row" id="cheque_details">
                                    <div class="col-md-6 col-sm-6" style="margin: 10px 0;">
                                        <label>Cheque No. <span class="complusoryFields">*</span></label>
                                        <input type="text" class="form-control requiredFields" id="chequeNo">
                                    </div>
                                    <div class="col-md-6 col-sm-6" style="margin: 10px 0;">
                                        <label>Bank Name <span class="complusoryFields">*</span></label>
                                        <input type="text" class="form-control requiredFields" id="bankName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="font-size: large; font-weight: 400;">SGST : 9%  ->  ₹ <span id="sgst"></span></label>
                                </div>
                                <div class="form-group">
                                    <label style="font-size: large; font-weight: 400;">CGST : 9%  ->  ₹ <span id="cgst"></span></label>
                                </div>

                                @*<div class="row">
                                    <div class="col-md-4 col-sm-6" style="margin: 10px 0;">
                                        <label>Mode of Payment :</label>
                                        <select onchange="paymentMode();" class="form-control" id="paymentMode">
                                            <option value="Cash">Cash</option>
                                            <option value="Paytm">Paytm</option>
                                            <option value="Card">Card</option>
                                            <option value="Cheque">Cheque</option>
                                        </select>
                                    </div>
                                    <div class="col-md-8 col-sm-6" id="cheque_details" style="display: none;margin: 10px 0;">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Cheque No. <span class="complusoryFields">*</span></label>
                                                <input type="text" class="form-control requiredFields" id="chequeNo" style="/* width: 50%; */">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Bank Name <span class="complusoryFields">*</span></label>
                                                <input type="text" class="form-control requiredFields" id="bankName" style="/* width: 50%; */">
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                               
                                
                                <input type="button" value="Print" onclick="PrintRoomBill();" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="membershipID" value="0" />
    <input type="hidden" id="UserID" value="0" />
    <input type="hidden" id="phone" />
    @*<input type="hidden" id="infoMsg" />*@
</body>

<script>
    $(document).ready(function () {
    $('#cheque_details').hide();
        $('#iscash').click(function () {
            if ($(this).is(":checked"))
                $("#amtCash").removeAttr("disabled");
            else
                $("#amtCash").val('').attr("disabled", "disabled");
        });
        $('#ispaytm').click(function () {
            if ($(this).is(":checked"))
                $("#amtPaytm").removeAttr("disabled");
            else
                $("#amtPaytm").val('').attr("disabled", "disabled");
        });
        $('#iscard').click(function () {
            if ($(this).is(":checked"))
                $("#amtCard").removeAttr("disabled");
            else
                $("#amtCard").val('').attr("disabled", "disabled");
        });
        $('#ischeque').click(function () {
            if ($(this).is(":checked")) {
                $("#amtCheque").removeAttr("disabled"); $("#cheque_details").show();
            }
            else {
                $("#amtCheque").val('').attr("disabled", "disabled"); $("#cheque_details").hide();
            }
        });
        var date = new Date();
        $('#checkIn').datepicker({
            changeMonth: true,
            changeYear: true,
            //yearRange: "-116:+0",
            //minDate: date,
            onClose: function (dateText, inst) {
                $("#discount").val(0);
                getCustomerslistAccToDate();
            }
        }).datepicker("setDate", new Date());
        $("#CustomerDetails").css("display", "none");

        $("#discount").on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

        CustomerRoomDetails();
    });
    $("#discount").focusout(function () {
        discount();
    });

    function discount() {
        //var netAmt=$("#netAmt").html();
        var amount=$("#amount").html();
        var discount= $("#discount").val();
        //$("#AmtAfterDiscount").empty();

        if($("#advancedPayment").val()=="" || $("#advancedPayment").val()==undefined)
        {
            var advPay=0;
        }
        else{
            var advPay=$("#advancedPayment").val();
        }

        if(parseInt(discount)>0 && parseInt(discount)<=(parseFloat(amount)-parseFloat(advPay)))
        {
            var sd=(parseFloat(amount)-parseFloat(advPay)-parseInt(discount)).toFixed(2);
            $("#amtAfterAdvanced").html(sd);
            var actualAmt = 0;
            var gst = 0;
            if(parseInt(amount)>0){
                var amtPaid=(parseFloat(amount)-parseInt(discount)).toFixed(2);
                actualAmt = ((parseFloat(amtPaid) * 100) / 118).toFixed(2);
                gst = (parseFloat(actualAmt) * (18 / 100)).toFixed(2);
                $("#sgst").html((parseFloat(gst)/2).toFixed(2));
                $("#cgst").html((parseFloat(gst)/2).toFixed(2));
            }
            else{
                $("#sgst").html(0);
                $("#cgst").html(0);
                $("#amtAfterAdvanced").html(0);
            }
        }
        else{
            $("#discount").val('0');
            calculateTotalAmount();
        }
    }

    function calculateTotalAmount() {
        var amt = $("#amount").html();
        var advPay=$("#advancedPayment").val();
        var actualAmt = 0;
        var gst = 0;
        if(parseInt(amt)>0){
            //var sgst = ((parseInt(amt)) * (9 / 100)).toFixed(2);
            //var cgst = ((parseInt(amt)) * (9 / 100)).toFixed(2);
            //var total = (parseInt(amt) + parseFloat(sgst) + parseFloat(cgst)).toFixed(2);
            actualAmt = ((parseFloat(amt) * 100) / 118).toFixed(2);
            gst = (parseFloat(actualAmt) * (18 / 100)).toFixed(2);
            var amtPaid=parseFloat(amt)-parseFloat(advPay);
            $("#amtAfterAdvanced").html(amtPaid);
            $("#sgst").html(parseFloat(gst)/2);
            $("#cgst").html(parseFloat(gst)/2);
            //$("#netAmt").html(total);
        }
        else{
            $("#sgst").html(0);
            $("#cgst").html(0);
            $("#amtAfterAdvanced").html(0);
        }
    }

    function getCustomerslistAccToDate() {
        var checkinDate = $('#checkIn').val();
        if (checkinDate != "") {
            $.ajax({
                type: "post",
                contentType: "application/json; charset=utf-8",
                url: "/RoomBilling/getCustomerslistAccToDate",
                data: JSON.stringify({ checkinDate: checkinDate }),
                dataType: "json",
                success: function (response) {
                    if (response.length > 0) {
                        $('#RNo').empty();
                        for (var i = 0; i < response.length; i++) {
                            $('#RNo').append($('<option>', {
                                value: response[i].Booking_ID,
                                text: response[i].Customer
                            }));
                        }
                        CustomerRoomDetails();
                    }
                    else {
                        $('#RNo').empty();
                        $('#RNo').append($('<option>', {
                            value: '0',
                            text: "No Data Available."
                        }));
                        $("#amtPaidOrNot").empty();
                        $("#CustomerDetails").css("display", "none");
                        $("#RoomNo").val('');
                        $("#Customer").val('');
                        $("#phone").val('');
                        $("#memberOrNot").val('');
                        $("#amount").html(0);
                        //$("#AmtAfterDiscount").html(0);
                        $("#Bill_Number").empty();
                        $("#showBillNo").css("display", "none");
                        calculateTotalAmount();
                    }
                },
                error: function () {
                    alert('error');
                }
            });
        }
    }

    function CustomerRoomDetails() {
        var Booking_ID = $("#RNo").val();
        var checkIn = $('#checkIn').val();

        if(Booking_ID!=0){
            $.ajax({
                type: "post",
                contentType: "application/json; charset=utf-8",
                url: "/RoomBilling/getCustomerRoomDetails",
                data: JSON.stringify({ Booking_ID: Booking_ID, checkIn: checkIn }),
                dataType: "json",
                success: function (response) {
                    if(response!="NotFound"){
                        //if(response.Rooms=="")
                        //{
                        //    $("#infoMsg").val(response.str);
                        //    bootbox.alert(response.str);
                        //}savePrint
                        if(response.Amt_Paid_Or_Not=="Yes"){
                            $("#amtPaidOrNot").empty();
                            $("#amtPaidOrNot").html(" (Amt Paid)");
                        }
                        else{
                            $("#amtPaidOrNot").empty();
                        }
                        $("#RoomNo").val(response.Rooms);
                        $("#amount").html(response.TotalAmount);
                        $("#phone").val(response.PhoneNo);
                        $("#advancedPayment").val(response.advancedPayment);
                        if(response.Bill_Number!=0){
                            $("#discount").val(response.Discount);
                            $("#discount").attr("readonly",true);
                            $("#Bill_Number").empty();
                            $("#Bill_Number").html(response.Bill_Number);
                            var scgst=parseFloat(response.GST)/2;
                            $("#sgst").html(scgst);
                            $("#cgst").html(scgst);
                            $("#amtAfterAdvanced").html(response.AmtToBePaid);
                            $("#netAmt").closest("label").css("display", "none");
                            $("#showBillNo").css("display", "block");
                            $("#paymentMode").attr("disabled",true);
                            if(response.Payment_Mode!=null){
                                $("#paymentMode").val(response.Payment_Mode);
                                if(response.Payment_Mode=="Cash" || response.Payment_Mode=="Card"){
                                    $("#cheque_details").hide();
                                    $("#chequeNo").val('').attr("readonly",false);
                                    $("#bankName").val('').attr("readonly",false);
                                }
                                else if(response.Payment_Mode=="Cheque"){
                                    $("#cheque_details").show();
                                    $("#chequeNo").val(response.ChequeNo).attr("readonly",true);
                                    $("#bankName").val(response.BankName).attr("readonly",true);
                                }
                            }
                            else{
                                $("#paymentMode").val("Cash");
                                $("#cheque_details").hide();
                            }
                        }
                        else{
                            $("#paymentMode").val("Cash").attr("disabled",false);
                            $("#cheque_details").hide();
                            $("#chequeNo").val('').attr("readonly",false);
                            $("#bankName").val('').attr("readonly",false);
                            $("#discount").val('0');
                            $("#discount").attr("readonly",false);
                            $("#Bill_Number").empty();
                            //$("#Bill_Number").html('@ViewBag.BillNumber');
                            $("#showBillNo").css("display", "none");
                            calculateTotalAmount();
                            //discount();
                            //$("#netAmt").closest("label").css("display", "block");

                        }
                        //calculateTotalAmount();
                        //discount();
                        $("#CustomerDetails").css("display", "block");
                    }
                    else{
                        bootbox.alert("Record not Found.");
                    }
                },
                error: function () {
                    //alert('error');
                }
            });
        }
    }

    function PrintRoomBill() {

        $(".preloader").css("display", "block");
        var Booking_ID = $("#RNo").val();
        var payment_mode = $("#paymentMode").val();
        var chequeNo=$("#chequeNo").val().trim();
        var bankName=$("#bankName").val().trim();

        if ($('#ischeque').is(':checked') && (chequeNo == "" || bankName == "")) {
            $(".preloader").css("display", "none");
            bootbox.alert("Either Cheque No or Bank Name is empty.");
            return false;
        }
        if(Booking_ID != 0 && $("#RoomNo").val() != ""){
            var checkIn = $("#checkIn").val();
            var d = new Date();
            var strDate = d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear();
            //var amt = $("#amount").html();
            //var extrabedch = $('#extraBed').is(':checked') ? '500' : '0';
            var total = $("#amount").html();
            var sgst1 = $("#sgst").html();
            var cgst1 = $("#cgst").html();
            //var newAmt = $("#netAmt").html();
            var time = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
            newWin = window.open("");
            var model = {
                //Bill_Number: $("#Bill_Number").html(),
                Booking_ID:Booking_ID,
                //CustomerName: $("#RNo option:selected").text(),
                //PhoneNo: $("#phone").val(),
                //UserID: $("#RNo").val(),
                //RoomID:$("#RoomNo").val(),
                //Amount: total,
                GST: (parseFloat(sgst1)+parseFloat(cgst1)).toFixed(2),
                //CGST: cgst1,
                //NetAmount: newAmt,
                //CheckinDate: checkIn,
                Discount:$("#discount").val(),
                AdvancedPayment :$("#advancedPayment").val(),
                AmtToBePaid :$("#amtAfterAdvanced").html(),
                paymentModeCash: $("#amtCash").val(),
                paymentModePaytm: $("#amtPaytm").val(),
                paymentModeCard: $("#amtCard").val(),
                paymentModeCheque: $("#amtCheque").val(),
                Cheque_No:chequeNo,
                BankName:bankName
            };
            $.ajax({
                type: "post",
                contentType: "application/json; charset=utf-8",
                url: "/RoomBilling/addRoomBillingDetails",
                data: JSON.stringify({ model }),
                dataType: "json",
                success: function (response) {
                    var tbl = '';
                    tbl += "<center><p style='padding:0px;margin:0px;font-size:12px;'>Club Wild Crest";
                    tbl += "<br>A Venture of Virk Gold Farms Pvt. Ltd.</p></center><hr>";
                    //tbl+="<br>8765438976</p></center><hr>";
                    tbl += "<p style='font-size:10px;'>GSTIN : 09AAECV4514H1ZA";
                    tbl += "<br>Bill No. : " +response.BillNo;
                    tbl += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Time : " + time;
                    tbl += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date : " + strDate;
                    tbl += "<br>Customer : " + $("#RNo option:selected").text();
                    tbl += "<br>Customer PhoneNo : " + $("#phone").val() + "</p>";


                    tbl += '<table id="tabel-heading" style="width:100%;margin:0 auto; ">' +
            '<thead  style="text-align: center;" >' +
            '<tr style="font-size: 9px;font-weight:400; text-align: center;">' +
            '<td style="padding: 5px 0;">RNo. </td>' +

            '<td style="padding: 5px 0;">Check-IN</td>' +
            '<td style="padding: 5px 0;">Check-OUT</td>' +

            '<td style="padding: 5px 0;">No. Of Members</td>' +
            '<td style="padding: 5px 0;text-align: right;">Amount</td>' +
            '</tr>' +
            '</thead>' +
            '<tbody>';
                    for(var i =0;i<response.stayData.length;i++)
                    {
                        tbl+=  '<tr style="font-size: 9px;text-align: center;">' +
            '<td style="padding: 8px 0;">' + response.stayData[i].RoomNo + '</td>' +

            '<td style="padding: 8px 0;"><label>' + response.stayData[i].Check_In + '</label></td>' +
            '<td style="padding: 8px 0;"><label>' + response.stayData[i].Check_Out + '</label></td>' +
            '<td style="padding: 8px 0;"><label>' + response.stayData[i].NoOfPerson + '</label></td>' +
            '<td style="padding: 8px 0;text-align: right;"><label>₹ ' + response.stayData[i].TAmtPerRoom + '</label></td>' +

            '</tr>';
                    }

                    tbl+= '<tr style="font-size: 9px;">' +
            '<th colspan="4"   style="text-align: right;padding: 3px 0px;">Total : </th>' +
            '<td  style="text-align: right;padding: 3px 0px;width:30%;"><label>₹ ' + total + '</label></td>' +
            '</tr>' +

            '<tr style="font-size: 9px;">' +
            '<td colspan="4"   style="text-align: right;padding: 3px 0px; ">SGST (9%) : </td>' +
            '<td  style="text-align: right;padding:3px 0px;width:30%;"><label>₹ ' + (parseFloat(response.csgst)/2).toFixed(2) + '</label></td>' +
            '</tr>' +
            '<tr style="font-size: 9px;">' +
            '<td colspan="4"   style="text-align: right;padding: 3px 0px;">CGST (9%) : </td></label>' +
            '<td  style="text-align: right;padding: 3px 0px;width:30%;"><label>₹ ' + (parseFloat(response.csgst)/2).toFixed(2) + '</label></td>' +
            '</tr>' +
            '<tr style="font-size: 9px;">' +
            '<td colspan="4"   style="text-align: right;padding:3px 0px">Discount : </td>' +
            '<td  style="text-align: right;padding: 3px 0px;width:30%;"><label>₹ ' + response.discount + '</label></td>' +
            '</tr>' +
            //'<tr style="font-size: 9px;">' +
            //'<td colspan="4"   style="text-align: right;padding: 3px 0px;">Net Amount : </td>' +
            //'<td  style="text-align: right;padding: 3px 0px;width:30%;"><label>₹ ' + newAmt + '</label></td>' +
            //'</tr>' +

            //'<tr>' +
            //'<th colspan="4"   style="text-align: right;padding: 0px 11px;">Total Amount after Discount : </th>' +
            //'<td  style="text-align: right;padding: 8px;"><label>₹ ' + $("#AmtAfterDiscount").html() + '</label></td>' +
            //'</tr>' +
            '<tr style="font-size: 9px;">' +
            '<th colspan="4"   style="text-align: right;padding:3px 0px;">Amount to be Paid : </th>' +
            '<td  style="text-align: right;padding:3px 0px;width:30%;"><label>₹ ' + response.AmtToBePaid + '</label></td>' +
            '</tr>' +
            '</tbody>' +

            '</table><p style="font-size: 9px;">GOOD SERVICE DESERVES A TIP!!</p>';

                    var htmlToPrint = '' +
                        '<style type="text/css">' +
                        //'table, th, td {' +
                        //'border-collapse: collapse;' +
                        //'}' +
                        'body{font-family: arial;}' +
                        '@@media print{@@page{size: 72mm auto;margin:5px;}}' +
                        '</style>';
                    htmlToPrint += tbl;

                    newWin.document.write(htmlToPrint);
                    newWin.print();
                    newWin.close();

                    window.location.reload();

                },
                error: function () {
                    $(".preloader").css("display", "none");
                    alert('error');
                }
            });

        }
        else{
            $(".preloader").css("display", "none");
            bootbox.alert("Record not Found.");
        }
    }
    //function getRoomslist() {
    //    var checkinDate = $('#checkIn').val();
    //    if (checkinDate != "") {
    //        $.ajax({
    //            type: "post",
    //            contentType: "application/json; charset=utf-8",
    //            url: "/RoomBilling/getRoomslist",
    //            data: JSON.stringify({ checkinDate: checkinDate }),
    //            dataType: "json",
    //            success: function (response) {
    //                if (response.length > 0) {
    //                    $('#RNo').empty();
    //                    for (var i = 0; i < response.length; i++) {
    //                        $('#RNo').append($('<option>', {
    //                            value: response[i].ID,
    //                            text: response[i].RoomNo
    //                        }));
    //                    }
    //                    CustomerDetails();
    //                }
    //                else {
    //                    $('#RNo').empty();
    //                    $('#RNo').append($('<option>', {
    //                        value: '0',
    //                        text: "Rooms not booked on this day."
    //                    }));
    //                    $("#Customer").val('');
    //                    $("#phone").val('');
    //                    $("#memberOrNot").val('');
    //                    $("#amount").html(0);
    //                    calculateTotalAmount();
    //                }

    //            },
    //            error: function () {
    //                alert('error');
    //            }
    //        });
    //    }
    //}

    function paymentMode() {
        var mode = $("#paymentMode").val();
        if (mode == "Cheque") {
            $("#cheque_details").css("display", "block");
            $("#chequeNo").val('');
            $("#bankName").val('');
        }
        else {
            $("#cheque_details").css("display", "none");
            $("#chequeNo").val('');
            $("#bankName").val('');
        }
    }
</script>
