@model IEnumerable<WildCrest.Models.WildCrestModels.Inventory>

<body class="fix-header card-no-border">

    <div id="main-wrapper">
       
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div><span class="complusoryFields">*(Compulsory Fields)</span></div>
                            <div class="row" style="margin-bottom:20px;">
                                @Html.ActionLink("Go back", "Inventory", "Bar", null, new { @class = "btn btn-primary btn-margin" })
                            </div>
                            <h4 class="card-title">Bar-Inventory Item Usage</h4>
                            <div class="form p-t-20">
                                <div class="form-group">
                                    <label style="font-size:large;">Item Name <span class="complusoryFields"> *</span></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-product-hunt" style="width: 20px;font-size:initial"></i></div>
                                    <select id="itemName" class="form-control requiredFields" onchange="getQtyFromInventory();">
                                        <option value="0">--Select--</option>
                                        @foreach (var i in Model)
                                        {
                                            <option value="@i.ID">@i.Item_Name</option>
                                        }
                                    </select>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label style="font-size:large;">Left Quantity <span id="measurement"></span></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-sort-numeric-asc" aria-hidden="true" style="width: 20px;font-size:initial"></i></div>
                                        <input type="text" id="qty" class="form-control" readonly />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="font-size:large;">Used<span id="measurement"></span> <span class="complusoryFields"> *</span></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-sort-numeric-asc" aria-hidden="true" style="width: 20px;font-size:initial"></i></div>
                                        <input type="text" id="usedQty" class="form-control requiredFields" />
                                    </div>
                                    <i> <div id="errMsg" style="color:red;font-weight: 400;font-size: 12pt;"></div></i>
                                </div>
                                <div class="form-group">
                                    <label style="font-size:large;">Description <span class="complusoryFields"> *</span></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true" style="width: 20px;font-size:initial"></i></div>
                                        <textarea id="description" class="form-control requiredFields"></textarea>
                                    </div>
                                </div>

                                <input type="button" value="Save" onclick="SaveUsageofItem();" class="btn btn-primary" />
                                <a href="/Bar/Inventory" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>
</body>

<script>
    $(document).ready(function () {
        //$('#usedQty').keydown(function (e) { -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault() });
        $('#usedQty').attr("disabled", "true");
        $("#usedQty").on("keypress keyup blur",function (event) {
            //this.value = this.value.replace(/[^0-9\.]/g,'');
            $(this).val($(this).val().replace(/[^0-9\.]/g,''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });
    });

    $("#usedQty").focusout(function () {
        var left = $("#qty").val();
        var newUsedVal = $("#usedQty").val();
        var measure=$("#measurement").html();
        
        if (newUsedVal != "") {
            if(measure=="(in Pieces)"){
                if(newUsedVal.indexOf(".")==-1){
                    if (parseInt(left) < parseInt(newUsedVal)) {
                        $("#errMsg").empty();
                        $("#errMsg").append("Used Quantity should be less than or equal to Left Quantity.");
                        $("#usedQty").val("");
                    }
                    else {
                        $("#errMsg").empty();
                    }
                }
                else{
                    $("#errMsg").empty();
                    $("#errMsg").append("Used Quantity shouldn't in decimal number.");
                    $("#usedQty").val("");
                }
            }
            else{
                if (parseFloat(left) < parseFloat(newUsedVal)) {
                    $("#errMsg").empty();
                    $("#errMsg").append("Used Quantity should be less than or equal to Left Quantity.");
                    $("#usedQty").val("");
                }
                else {
                    $("#errMsg").empty();
                }
            }
        }
        else {
            $("#errMsg").empty();
            $("#errMsg").append("Please enter used Quantity.");
        }
        
    });

    function AddNewItem() {
        var IName = $("#IName").val();
        var type = $("#type").val();
        var qty = $("#qty").val();
        var price = $("#price").val();
        var vendorId = $("#vendorId").val();

        if (IName != "" && type != "" && qty != "" && price != "" && vendorId != 0) {
            var newItem = {
                Item_Name: IName,
                Type: type,
                Price: price,
                Quantity: qty,
                VendorID: vendorId
            };
            $.ajax({
                type: "post",
                contentType: "application/json; charset=utf-8",
                url: "/BarInventory/AddNewItem",
                data: JSON.stringify({ newItem }),
                dataType: "json",
                success: function (response) {
                    if (response == "Added") {
                        bootbox.confirm("New Item Added Successfully.", function (result) {
                            window.location.href = "/BarInventory/Index";
                        });
                        $(".modal-dialog .modal-content .modal-footer .btn-default").hide();
                    }
                    else {
                        bootbox.confirm("Item Updated Successfully.", function (result) {
                            window.location.href = "/BarInventory/Index";
                        });
                        $(".modal-dialog .modal-content .modal-footer .btn-default").hide();
                    }

                },
                error: function () {
                    //alert('error');
                }
            });
        }
        else {
            bootbox.alert({
                message: 'All fields are complusory.',
                size: "medium"
            });
        }
    }

    function getQtyFromInventory() {
        $("#errMsg").empty();
        var itemName = $("#itemName").val();
        $('#usedQty').val('');
        if (itemName != 0) {
            $.ajax({
                type: "post",
                contentType: "application/json; charset=utf-8",
                url: "/Bar/getQtyFromInventory",
                data: JSON.stringify({ invID: itemName }),
                dataType: "json",
                success: function (response) {
                    $("#measurement").html("(in "+response.Measurement+")");
                    if (response.left.toFixed(2) <= 0) {
                        //$("#qty").val('0');
                        //$("#usedQty").attr("readonly", true);
                        bootbox.confirm("No Item left. Select another Item to set usage.", function (result) {
                            window.location.href = "";
                        });
                        $(".modal-dialog .modal-content .modal-footer .btn-default").hide();
                    }
                    else {
                        $("#qty").val(Number.isInteger(response.left)?response.left:response.left.toFixed(2));
                        $('#usedQty').removeAttr('disabled');
                    }
                },
                error: function () {
                    //alert('error');
                }
            });
        }
        else {
            $("#qty").val('');
        }
    }

    function SaveUsageofItem() {
        $(".preloader").css("display", "block");
        var itemName = $("#itemName").val();
        var qty = $("#qty").val();
        var usedQty = $("#usedQty").val();
        var description = $("#description").val().trim();
        if (itemName != 0 && usedQty != "" && description != "") {
            var invUsage = {
                InventoryID: itemName,
                Used_Qty: usedQty,
                Description: description,
                TotalQuantity: qty
            };
            $.ajax({
                type: "post",
                contentType: "application/json; charset=utf-8",
                url: "/Bar/SaveUsageofItem",
                data: JSON.stringify({ invUsage }),
                dataType: "json",
                success: function (response) {
                    $(".preloader").css("display", "none");
                    bootbox.confirm("Usage of Item Saved.", function (result) {
                        window.location.href = "/Bar/Inventory";
                    });
                    $(".modal-dialog .modal-content .modal-footer .btn-default").hide();
                },
                error: function () {
                    $(".preloader").css("display", "none");
                    alert('Some error occured.Try again after refresh.');
                }
            });
        }
        else {
            $(".preloader").css("display", "none");
            bootbox.alert({
                message: 'Complusory Fields.',
                size: "medium"
            });
        }
    }

</script>
